@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #34381e; */
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.mini-header {
  background-color: black;
  text-align: center;
  color: rgb(216, 216, 216);
  height: 2.6em;
  line-height: 2.6em;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  z-index: 12;
}

.main-container {
  height: 4em;
  line-height: 4em;
  display: flex;
  width: 100%;
  box-shadow: 0 2px 5px rgb(39, 39, 39);
  letter-spacing: -1px;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.main-header {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.main-header > a,
.side-container > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.main-header > a:hover,
.side-container > a:hover {
  color: #000;
}

.main-header > a::before,
.side-container > a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: 17px;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.main-header > a:hover::before,
.side-container > a:hover::before {
  transform: scaleX(1);
}

.side-container {
  display: flex;
  position: absolute;
  right: 90px;
  justify-content: space-between;
  width: 160px;
}

.shopping {
  line-height: 20px;
  margin: 6px;
}

.shopping-container {
  height: 100%;
  background-color: white;
  width: 460px;
  position: fixed;
  right: 0;
  top: 2.6em;
  z-index: 11;
  font-family: "Times New Roman", Times, serif;
}

.show-cart {
  display: none;
  width: 200%;
}

.shopping-container > .my-cart {
  height: 60px;
  background-color: #34381e;
  text-align: center;
  line-height: 60px;
}

.individual-products {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  overflow: hidden;
}

.individual-products:nth-child(even) {
  background-color: rgb(194, 189, 189);
}

.individual-products > img {
  height: 100px;
  border-radius: 30px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity > svg {
  border-radius: 40%;
  background-color: white;
}

.quantity > span {
  padding: 0 10px;
}

.cancel-place {
  position: fixed;
  width: inherit;
  display: flex;
  bottom: 0;
  height: 60px;
  background-color: #34381e;
  align-items: center;
  justify-content: space-around;
}

.cancel-place > div {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  text-decoration: none;
}

.cancel-place > div > a {
  text-decoration: none;
  color: black;
}

.cancel {
  background-color: wheat;
}

.floating-container {
  height: 96vh;
  display: flex;
}

.written-text {
  position: relative;
  width: 50%;
  font-family: "Times New Roman", Times, serif;
  font-size: 34px;
}

.written-text > h1 {
  color: black;
  position: absolute;
  top: 20%;
  left: 10%;
  width: 60%;
}
.written-text > div {
  border: 2px solid black;
  width: fit-content;
  position: absolute;
  bottom: 22%;
  left: 10%;
  padding: 0 40px;
  background-color: black;
}

.written-text > div > a {
  text-decoration: none;
  font-size: 30px;
  color: white;
}

.image-container {
  background: url("images/sideimage.avif") no-repeat;
  background-size: 100% 100%;
  width: 50%;
}

.product-container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 0 20px;
}

.best-seller {
  font-size: 33px;
  margin: 30px 0 10px 70px;
  font-weight: 500;
  letter-spacing: -1px;
  font-family: "Poppins", sans-serif;
}

.individual-images {
  height: 500px;
  width: 400px;
  overflow: hidden;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  box-shadow: 2px 2px 13px rgb(39, 39, 39);
}

.individual-images > h2 {
  font-weight: 450;
}

.individual-images > img {
  height: 75%;
}

.individual-images > button {
  border-radius: 10px;
  padding: 8px;
  line-height: 100%;
  background-color: black;
  color: white;
  border: none;
}

footer {
  margin-top: 70px;
  height: 45vh;
  background-color: black;
  width: 100%;
  position: absolute;
}

.first-div {
  height: 50px;
  background-color: black;
  border-bottom: 1px solid white;
  opacity: 0.3;
}
.details {
  color: white;
  opacity: 0.9;
  margin: 40px;
  display: flex;
}

.references {
  width: 25%;
}

.references > h3 {
  margin-bottom: 10px;
}
.references > a {
  display: block;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.references > div {
  margin-top: 10px;
  opacity: 0.7;
}

.references > div > a {
  text-decoration: none;
}

.references > div > a > svg {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 6px;
  padding: 3px;
}

.last-div {
  background-color: white;
  height: 1px;
  opacity: 0.3;
}
